*body{
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica Neue, sans-serif;
  width: 100%;
  background-color: #1E90FF;
height: 550px;

}
.navbar{
    height: 80px;
    padding: 0;
}
.chatGPT{
    max-width: 100%;
height: 80px;
margin-top: 25px;
}
.primary-nav{
    height: 25px;
    line-height: 7px;
  
    text-align: left;

    background-color:#1E90FF;
    font-size: 11px;
    color: #fff;
}
.header-tab{
    display: flex;
    justify-content: space-between;
    background-color:#D3D3D3;
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: 1px solid #3b3636;
    
}
.header-tab1{
    display: flex;
    background-color:#D3D3D3;
    border-bottom-width: 1px;
    justify-content: end;
   
}
.last{
    margin-right: 7rem;
}


.content{
    text-align: center;
    width: 8%;
    height: 20px;
    
}
.des{
    text-align: center;
    width: 15%;
    height: 20px;
    z-index: 10px;
}
.total{
    display: flex;
    align-items: end;
    background-color:#D3D3D3;
    border-bottom-width: 1px;
  
}

.apodixi{
    position: relative;
    margin-bottom: 0;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #a9a9a9;
    color: #000!important;
    border: 0;
    border-bottom: 2px solid #a9a9a9;
    border-style: solid;
    visibility: visible;
    height: 268.6px;
    scroll-behavior: auto;
}

.left-div {
    width: 60%;
    background-color: red;
    float: left;
}
.calculator {
    width: 100%;
    background-color:#fff;
    float: left;
    padding: 20px;
    text-align: center;
}

.calculator button {
    width: 30%;
    padding: 15px;
    margin: 5px;
    background-color: #a9a9a9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;

}

.right-div {
    width: 40%;
    background-color: rgb(229, 225, 225);
    float: left;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.button {
    width: 48%;
    padding: 15px;
    margin: 5px;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button1{
    width: 100%;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: #D3D3D3;
    color:#a5a2a2;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


.cancel-button {
    background-color: red;
    color: #fff;
}
.blue{
    background-color: #477bff;
    color: #fff;
}
#cancel-button{
    background-color: red;
    color: #fff;
}


/* Define icon classes for buttons */
.user-icon::before {
    content: "";
}

.notes-icon::before {
    content: "";
}

.gift-icon::before {
    content: "";
}
.black{
    width: 100%;
    font-size: 38px;
    color: white;
    background-color: black;
    padding: 5px;
    height: 36px;
}

.small-div {float: left;
    font-size: 11px;
    width: 100%;
    text-align: left !important;
    color: rgb(255, 255, 255);
    background-color: rgb(71, 123, 255);
    /* padding: 5px; */
    border: white !important;
    border-style: inset !important;
    border-width: 1px !important;
    height: 20px;
    border: none;
}
.primary-nav-editpage{
    width: 100%;
    height: 40px;
    background-color: #1E90FF;
}
  
